body {
    background-image: url('/resources/achievements_background.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: transparent;
    padding: 20px 0;
}

.star-container {
    display: inline-block;
    margin-right: 10px; 
    position: absolute;
    top: calc(30% + 20vh * var(--random-height)); 
    left: 0;
    right: 0;
    text-align: center;
    width: 80px; 
    height: 80px; 
    cursor: pointer; 
}

.star {
    width: 35px; 
    height: 35px; 
    background-image: url('/resources/achievement-star.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    animation: moveStar var(--animation-duration) infinite cubic-bezier(0.4, 0.0, 0.2, 1), 
               rotateStar var(--rotation-duration) infinite linear;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.star-container .achievement-name {
    margin-top: 50px; 
    margin-left: 23%;
    font-size: 12px; 
    color: white;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

.star.no-animation {
    animation: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.star-container:hover .achievement-name {
    opacity: 1; 
}

.star-container:hover .star {
    animation-play-state: paused; 
    transform: scale(1.2);
}

/* 星星移动动画 */
@keyframes moveStar {
    0% { transform: translateY(0); }
    25% { transform: translateY(var(--move-y1)); }
    50% { transform: translateY(var(--move-y2)); }
    75% { transform: translateY(var(--move-y1)); }
    100% { transform: translateY(0); }
}

/* 星星旋转动画 */
@keyframes rotateStar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
