/* projects.css */

/* 适用于projects.html的独特样式 */
.container-projects {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    width: 90%;
    text-align: center;
    color: #ffffff;
}

.project_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.project_center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height:400px;
    margin-top: 80px;
    overflow: scroll;
}

.project_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    height: 400px;
}

#sudokuBoard {
    border-collapse: collapse;
    margin: 20px auto;
}

#sudokuBoard td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 24px;
    background-color: #fff;
    color: #000;
}

.highlighted {
    background-color: yellow !important;
    color: darkgrey !important;
}

.project_ace_editor {
    height: 350px;
    margin-left: 2vw; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.project-run-button {
    bottom: 1vh;
}

#tutorialContent {
    overflow-y: auto;
    height: 65vh; 
    padding: 10px;
    color: white;
    text-align: left;
    width: 30%; 
    margin: 0 auto; 
    position: relative;
    top: 60px; 
}

#tutorialContent h3 {
    font-size: 20px;
    color: #a2ecfe;
    margin-top: 20px;
    margin-bottom: 10px;
}

#tutorialContent p {
    font-size: 14px;
    color: white;
    line-height: 1.6;
    margin-bottom: 15px;
    text-indent: 2em; /* 段落开头空格 */
}

.example-button {
    position: absolute;
    right: 4vw; /* 使按钮靠右 */
    top: 20vh; /* 上移按钮 */
    padding: 5px 10px; /* 调整按钮大小 */
    font-size: 14px;
    background-color: #bcbcc7;
}
