/* projects.css */

/* 适用于projects.html的独特样式 */
.container-projects {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    width: 90%;
    text-align: center;
    color: #ffffff;
}

.project_left {
    flex: 1;
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}

.project_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    height: 400px;
}

#sudokuBoard {
    border-collapse: collapse;
    margin: 20px auto;
}

#sudokuBoard td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 24px;
    background-color: #fff;
    color: #000;
}


.highlighted {
    background-color: yellow !important;
    color: darkgrey !important;
}

.ace_editor {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ace_editor button {
    margin-top: -5px;
    background-color: #bcbcbc36;
    box-shadow: none;
}

.ace_editor button:hover{
    margin-top: -5px;
    background-color: #bcbcbc36;
    box-shadow: none;
    box-shadow: 0 8px 8px rgba(122, 246, 255, 0.679);
    font-weight: bold;
}