/* algorithms/algorithms.css */

/* 引用公共样式 */
@import url("../css/styles.css");

body {
    overflow-y: scroll;
}

/* 课程卡片容器样式 */
.lesson-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 150px auto 20px auto;
    max-width: 1200px;
    padding: 20px;
    gap: 20px;
}

.card {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #333;
    cursor: pointer; /* 添加鼠标指针效果 */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 悬停动画 */
}

.lesson10 {
    background-color: rgb(70, 80, 95);
}

.card img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.card h3 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #444;
    color: #fff;
    flex-grow: 1;
}

.card button {
    background-color: #92b3be;
    box-shadow: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 0 0 12px 12px;
    border: none;
    margin: 0;
    pointer-events: none; 
}

.card:hover {
    transform: translateY(-5px);
}

